{{ $isParentList := eq (.Scratch.Get "scope") "list" }}
{{ $shouldAddHeaderSpace := $.Params.layoutBackgroundHeaderSpace | default (or
  (and ($.Site.Params.article.layoutBackgroundHeaderSpace | default false) (not $isParentList))
  (and ($.Site.Params.list.layoutBackgroundHeaderSpace | default false) ($isParentList))
  )
}}

{{ if $shouldAddHeaderSpace | default false }}
  <div id="hero" class="h-[150px] md:h-[200px]"></div>
{{ end }}

{{ $disableImageOptimization := site.Store.Get "disableImageOptimization" }}

{{/* === Featured === */}}
{{ $featured := "" }}
{{ $featuredURL := "" }}
{{ with .Params.featureimage }}
  {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
    {{ if site.Params.hotlinkFeatureImage }}
      {{ $featuredURL = . }}
    {{ else }}
      {{ $featured = resources.GetRemote . }}
    {{ end }}
  {{ else }}
    {{ $featured = resources.Get . }}
  {{ end }}
{{ end }}

{{ if not (or $featured $featuredURL) }}
  {{ $images := $.Resources.ByType "image" }}
  {{ range slice "*feature*" "*cover*" "*thumbnail*" "*background*" }}
    {{ if not $featured }}{{ $featured = $images.GetMatch . }}{{ end }}
  {{ end }}
{{ end }}

{{ if not (or $featured $featuredURL) }}
  {{ $default := site.Store.Get "defaultFeaturedImage" }}
  {{ if $default.url }}
    {{ $featuredURL = $default.url }}
  {{ else if $default.obj }}
    {{ $featured = $default.obj }}
  {{ end }}
{{ end }}

{{/* generate image URL if not hotlink */}}
{{ if not $featuredURL }}
  {{ with $featured }}
    {{ $featuredURL = .RelPermalink }}
    {{ if not (or $disableImageOptimization (eq .MediaType.SubType "svg")) }}
      {{ $size := site.Store.Get "backgroundImageWidth" }}
      {{ $featuredURL = (.Resize $size).RelPermalink }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $scope := .Scratch.Get "scope" }}
{{ $shouldBlur := $.Params.layoutBackgroundBlur | default (or
  (and ($.Site.Params.article.layoutBackgroundBlur | default true) (eq $scope "single"))
  (and ($.Site.Params.list.layoutBackgroundBlur | default true) (eq $scope "list"))
  (and ($.Site.Params.taxonomy.layoutBackgroundBlur | default true) (eq $scope "terms"))
  (and ($.Site.Params.term.layoutBackgroundBlur | default true) (eq $scope "term"))
  )
}}

{{ with $featuredURL }}
  <div class="overflow-hidden rounded-md h-36 md:h-56 lg:h-72 nozoom">
    <img
      src="{{ . }}"
      role="presentation"
      loading="eager"
      decoding="async"
      fetchpriority="high"
      class="w-full h-full nozoom object-cover"
      {{ with $.Params.imagePositionFeature }}style="object-position: {{ . }};"{{ end }}>
  </div>
{{ end }}

<div class="fixed inset-x-0 top-0 h-[1000px] single_hero_background nozoom">
  {{ partial "liquid-ether-canvas.html" (dict "class" "absolute inset-0 w-full h-full") }}
</div>

{{ if $shouldBlur | default false }}
  <div
    id="background-blur"
    class="fixed opacity-0 inset-x-0 top-0 h-full single_hero_background nozoom backdrop-blur-xl bg-neutral-100/75 dark:bg-neutral-800/60"></div>
  {{ $backgroundBlur := resources.Get "js/background-blur.js" }}
  {{ $backgroundBlur = $backgroundBlur | resources.Minify | resources.Fingerprint (.Site.Params.fingerprintAlgorithm | default "sha512") }}
  <script
    type="text/javascript"
    src="{{ $backgroundBlur.RelPermalink }}"
    integrity="{{ $backgroundBlur.Data.Integrity }}"
    data-blur-id="background-blur"></script>
{{ end }}

{{ partial "liquid-ether-script.html" (dict "context" . "canvasId" "liquid-ether-canvas") }}
