{{ $isParentList := eq (.Scratch.Get "scope") "list" }}
{{ $shouldAddHeaderSpace := $.Params.layoutBackgroundHeaderSpace | default (or
  (and ($.Site.Params.article.layoutBackgroundHeaderSpace | default true) (not $isParentList))
  (and ($.Site.Params.list.layoutBackgroundHeaderSpace | default true) ($isParentList))
  )
}}

{{ if $shouldAddHeaderSpace | default true }}
  <div id="hero" class="h-[150px] md:h-[200px]"></div>
{{ end }}

<div class="fixed inset-x-0 top-0 h-[1000px] single_hero_background nozoom">
  {{ partial "liquid-ether-canvas.html" (dict "class" "absolute inset-0 w-full h-full") }}
  <div
    class="absolute inset-0 bg-gradient-to-t from-neutral dark:from-neutral-800 to-transparent mix-blend-normal"></div>
  <div
    class="absolute inset-0 opacity-60 bg-gradient-to-t from-neutral dark:from-neutral-800 to-neutral-100 dark:to-neutral-800 mix-blend-normal"></div>
</div>
{{ partial "liquid-ether-script.html" (dict "context" . "canvasId" "liquid-ether-canvas") }}
