{{ $isParentList := eq (.Scratch.Get "scope") "list" }}
{{ $shouldAddHeaderSpace := $.Params.layoutBackgroundHeaderSpace | default (or
  (and ($.Site.Params.article.layoutBackgroundHeaderSpace | default true) (not $isParentList))
  (and ($.Site.Params.list.layoutBackgroundHeaderSpace | default true) ($isParentList))
  )
}}

{{ if $shouldAddHeaderSpace | default false }}
  <div id="hero" class="h-[150px] md:h-[200px]"></div>
{{ end }}

{{ $scope := .Scratch.Get "scope" }}
{{ $shouldBlur := $.Params.layoutBackgroundBlur | default (or
  (and ($.Site.Params.article.layoutBackgroundBlur | default true) (eq $scope "single"))
  (and ($.Site.Params.list.layoutBackgroundBlur | default true) (eq $scope "list"))
  (and ($.Site.Params.taxonomy.layoutBackgroundBlur | default true) (eq $scope "terms"))
  (and ($.Site.Params.term.layoutBackgroundBlur | default true) (eq $scope "term"))
  )
}}

{{ partial "liquid-ether-bg.html" (dict "context" . "blur" $shouldBlur) }}
