{{ if .Page.HasShortcode "pdfviewer" }}
  {{ $pdfViewer := resources.Get "js/pdf-viewer.js" }}
  {{ $pdfViewer = $pdfViewer | resources.Minify | resources.Fingerprint (.Site.Params.fingerprintAlgorithm | default "sha512") }}
  <script
    defer
    src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.min.js"
    integrity="sha512-q+4liFwdPC/bNdhUpZx6aXDx/h77yEQtn4I1slHydcbZK34nLaR3cAeYSJshoxIOq3mjEf7xJE8YWIUHMn+oCQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>
  <script defer src="{{ $pdfViewer.RelPermalink }}" integrity="{{ $pdfViewer.Data.Integrity }}"></script>
{{ end }}