{{ define "main" }}
  <section class="relative pb-4 md:pb-8 select-none">
    <div class="mx-auto w-full max-w-7xl">
      <div id="threejs-hero" class="relative w-full">
        <div id="threejs-canvas" class="absolute inset-0"></div>
      </div>
    </div>
  </section>
  {{ $threejsHero := resources.Get "js/threejs-hero.js" | resources.Minify | resources.Fingerprint (.Site.Params.fingerprintAlgorithm | default "sha512") }}
  <script
    type="module"
    src="{{ $threejsHero.RelPermalink }}"
    integrity="{{ $threejsHero.Data.Integrity }}"
    data-threejs-hero
    data-container-id="threejs-canvas"
    data-root-id="threejs-hero"
    data-model-url="{{ "models/avatar2export.glb" | relURL }}"></script>

  {{ $partial := print "home/" .Site.Params.homepage.layout ".html" }}
  {{ if templates.Exists ( printf "partials/%s" $partial ) }}
    {{ partial $partial . }}
  {{ else }}
    {{ partial "home/profile.html" . }}
  {{ end }}
{{ end }}
